<style type="text/css">
    .centerAlign {
        text-align: center;
    }
    .backColor {
        background: Aquamarine;
    }
    .bodyBackcolor {
        background: LightGoldenRodYellow;
    }
    .rightPanel {
        float: right;
    }
</style>